@page
@model RCL.Demo.WebApp.Pages.Payment.CancelModel
@{
    ViewData["Title"] = "Payment Cancelled";
}

<div class="card shadow rounded">
    <div class="card-header">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-warning">
            <p><i class="bi bi-x-circle"></i> You have cancelled your payment</p>
        </div>
    </div>
</div>
