@page
@model RCL.Demo.WebApp.Pages.Payment.SuccessModel
@{
    ViewData["Title"] = "Payment Success";
}

<div class="card shadow rounded">
    <div class="card-header">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-success">
            <p><i class="bi bi-check-circle"></i> Your payment was successfully completed</p>
        </div>
    </div>
</div>
